/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #3b82f6, #6366f1, #db2777);
    justify-content: center;
    align-items: center;
}

/* Container styles */
.container, .form-container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background: linear-gradient(to right, #ffffff, #e2e8f0, #cbd5e1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* Header styles */
.header {
    width: 100%;
    background-color: #fff;
    padding: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.header-name {
    font-size: 48px;
    margin: 0;
    color: #fff;
    top: 0;
    position: absolute;
}

.header-name p {
    font-size: 24px;
    color: #fff;
    margin: 10px 0 0 0; /* Adjust margin to reduce gap */
}

.header h1 {
    margin: 0;
    color: #333;
}

/* Post styles */
.post-content {
    margin-bottom: 20px;
    text-align: center;
}

img.post-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* Comment styles */
.comments {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.comments li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

/* Links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.actions a {
    margin: 50px;    
}

/* Form styles */
form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

form a {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
}

form p {
    margin-bottom: 15px;
}

form button {
    display: block;
    width: 50%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    margin: 0 auto; /* Center the button */
}

form button:hover {
    background-color: #0056b3;
}

/* Form input styles */
.form-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container textarea,
.form-container input[type="file"],
.form-container input[type="datetime-local"],
.search-form input[type="text"],
.search-form textarea,
.login-form input[type="text"],
.login-form input[type="password"],
.register-form input[type="text"],
.register-form input[type="password"],
.register-form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 25px;
    box-sizing: border-box;
}

.search-form {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 25px;
    box-sizing: border-box;
    text-align: center;
}

.form-container textarea {
    resize: none;
    height: 150px;
}

.form-container {
    padding: 20px;
    background: #f9f9f9;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
}

/* Home page styles */
.search-form {
    width: 100%;
    margin-bottom: 20px;
}

.add-post-link {
    margin-bottom: 20px;
    display: inline-block;
}

a.add-post-link:hover {
    text-decoration: none;
    color: #0056b3;
    transition: color 0.5s ease;
}

.post-list {
    list-style-type: none;
    padding: 0;
    width: 75%;
}

.post-list li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 25px;
    text-align: center;
}

.post-list li a {
    display: block;
    padding: 10px;
    color: #007bff;
    text-decoration: none;
    border-radius: 25px;
}

.post-list li a:hover {
    background-color: #e2e8f0;
}

/* Dropdown styles */
.post-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 25px;
    box-sizing: border-box;
}

.auth-links {
    background: #fff;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: auto;
}

.auth-links a {
    margin: 0 10px;
}

.auth-links a:hover {
    color: red;
    text-decoration: none;
}

.hello-user {
    font-size: 32px;
    color: #fff;
    margin: 0;
    margin-top: 10px; /* Adjust margin to reduce gap */
}

/* Responsive styles */
@media (max-width: 768px) {
    .header-name {
        font-size: 36px;
    }

    .header-name p {
        font-size: 18px;
    }

    .container, .form-container {
        width: 90%;
        padding: 15px;
    }

    .post-list {
        width: 100%;
    }

    .post-list li {
        padding: 8px;
    }

    .post-list li a {
        padding: 8px;
    }

    form button {
        width: 80%;
    }
}
/*  */
@media (max-width: 480px) {
    .header-name {
        font-size: 28px;
    }

    .header-name p {
        font-size: 16px;
    }

    .container, .form-container {
        width: 100%;
        padding: 10px;
    }

    .post-list li {
        padding: 6px;
    }

    .post-list li a {
        padding: 6px;
    }

    form button {
        width: 100%;
    }
}