<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Add Comment</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="header-name">
        <h1>Add comment</h1>
    </div>

    <div class="form-container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>

        <div class="actions">
            <a href="{% url 'post_page' post.id %}">Back to post</a>
        </div>
    </div>
</body>
</html>